extends ../main-template

block content
    div.w3-container.w3-row-padding
        div.w3-half
            - var data = templateData.data
            - var errors = templateData.errors
            h1 Registrace
            form(method='post', action='/register')
                div.w3-container
                    label(for='email') Email:
                    input#email.w3-input.w3-border(type='text', name='email', value=data ? data.email : '')
                    if errors && errors.email
                        div.w3-panel.w3-red: p= errors.email
                div.w3-container
                    label(for='password') Heslo:
                    input#password.w3-input.w3-border(type='password', name='password')
                    if errors && errors.password
                        div.w3-panel.w3-red: p= errors.password
                div.w3-container
                    label(for='zip') PSČ:
                    input#zip.w3-input.w3-border(type='text', name='zip', value=data ? data.zip : '')
                    if errors && errors.zip
                        div.w3-panel.w3-red: p= errors.zip
                div.w3-container.w3-section
                    input#g-recaptcha-response(type="hidden", name="g-recaptcha-response")
                    input.w3-input.w3-border(type='submit', value='Odeslat')
                - var recaptchaAction = "register"
                include ../includes/recaptcha-script
        div.w3-half
