extends ../main-template

block description
    title Registrace majitele | Červená tlapka
    meta(name="description", content="Vytvořte si účet v našem dobrovolném registru a přidejte své psí hrdiny.")

block prepend css
    link(rel="stylesheet", type="text/css", href="/static/css/intlTelInput.min.css")

block append scripts
    include ../includes/smartform
    +smartformScript()
    script(src="/static/script/intl-tel-input/intlTelInput.min.js")

block content
    include ../includes/forms
    include ../includes/recaptcha
    include ../includes/phone-input
    div.w3-container.w3-row-padding
        div.w3-half
            - const data = templateData.data
            - const errors = templateData.errors
            h1 Registrace majitele
            form(method='post', action='/register')
                +input("text", "email", "Email:", data, errors)
                +input("password", "password", "Heslo:", data, errors)
                +input("password", "passwordConfirm", "Potvrdit heslo:", data, errors)
                +checkbox("dogTag", "Chci známku", data, errors, { attributes: { onclick: "handleDogTagCheckbox()" }, default: true })
                +input("text", "firstName", "Křestní jméno:", data, errors, { containerClasses: "addressContainer" })
                +input("text", "surname", "Příjmení:", data, errors, { containerClasses: "addressContainer" })
                +input("text", "street", "Ulice a číslo domu:", data, errors, { classes: "smartform-street-and-number", containerClasses: "addressContainer" })
                +input("text", "city", "Město:", data, errors, { classes: "smartform-city", containerClasses: "addressContainer" })
                +input("text", "zip", "PSČ:", data, errors, { classes: "smartform-zip" })
                +input("tel", "phone", "Mobil:", data, errors)
                +checkbox("privacyPolicy", "Souhlasím se <a href='/static/doc/privacy-policy-2019-04-21.pdf' target='_blank'>zásadami ochrany osobních údajů</a>", data, errors, { default: false })
                +checkbox("newsletter", "Přeji si dostávat informace o novinkách ze světa Červené tlapky", data, errors, { default: false })
                div.w3-container.w3-section
                    +recaptchaInputv2()
                    +submit()
                //+recaptchaScript("register")
                script.
                    function handleDogTagCheckbox() {
                        const dogTagCheckbox = document.getElementById("dogTag");
                        const display = dogTagCheckbox.checked ? "block": "none";
                        const addressContainers = document.getElementsByClassName("addressContainer");
                        for (let i = 0; i < addressContainers.length; i++) {
                            addressContainers[i].style.display = display;
                        }
                        if (display === "none") {
                            document.getElementById("firstName").value = "";
                            document.getElementById("surname").value = "";
                            document.getElementById("street").value = "";
                            document.getElementById("city").value = "";
                        }
                    }
                    handleDogTagCheckbox();
                +phoneInput("#phone")
        div.w3-half
            p Respektujeme vaše soukromí a snažíme se vám v tomto ohledu vyjít maximálně vstříc. Pro účely registru zveřejňujeme pouze ty nejnutnější údaje, tj. vaše PSČ a email. Pokud si budete přát obdržet pro svého psího hrdinu také známku, vyplňte jméno a adresu, kam vám ji budeme moci zaslat. Tyto údaje nebudou v registru veřejné dostupné.
