extends ../main-template

block description
    title Registrace uložena | Červená tlapka
    meta(name="description", content="Platforma propojující dobrovolné psí dárce krve s těmi, kteří potřebují jejich laskavou pomoc.")

block content
    div.w3-container.w3-row-padding
        h1 Registrace uložena
        p Registrace byla úspěšně uložena a zbývá dokončit poslední krok.
        p: b Aktivaci vašeho účtu provedete kliknutím na odkaz, který jsme odeslali na vámi zadaný email.
        p Pokud vám zpráva nepřijde do pár minut, zkontrolujte si vaši složku nevyžádané pošty (spam).
        p V případě jakýchkoliv problémů nás prosím neváhejte #[a(href="/contacts") kontaktovat].