extends ../main-template

block content
    p Vaše registrace byla úspěšně uložena a zbývá dokončit poslední krok.
    p Aktivaci Vašeho účtu provedete kliknutím na odkaz, který jsme odeslali na Vámi zadaný email.
    p Pokud Vám zpráva nepřijde do pár minut, zkontrolujte si prosím Vaši složku nevyžádané pošty (spam).
    p V případě jakýchkoliv problémů nás prosím kontaktujte. TODO odkaz na kontakty