extends ../main-template

block description
    title Změna hesla | Červená tlapka
    meta(name="description", content="Platforma propojující dobrovolné psí dárce krve s těmi, kteří potřebují jejich laskavou pomoc.")

block content
    include ../includes/forms
    include ../includes/recaptcha
    div.w3-container.w3-row-padding
        div.w3-half
            - var data = templateData.data
            - var errors = templateData.errors
            h1 Změna hesla
            form(method="post", action="/profile/change-password")
                +input("password", "oldPassword", "Staré heslo:", data, errors)
                +input("password", "password", "Nové heslo:", data, errors)
                +input("password", "passwordConfirm", "Potvrdit nové heslo:", data, errors)
                div.w3-container.w3-section
                    +recaptchaInput()
                    +submit()
                +recaptchaScript("changePassword")
        div.w3-half
