extends ../main-template

block description
    title Profil byl smazán | Červená tlapka
    meta(name="description", content="Platforma propojující dobrovolné psí dárce krve s těmi, kteří potřebují jejich laskavou pomoc.")

block content
    div.w3-container.w3-row-padding
        h1 Profil byl smazán
        p Váš profil byl úspěšně smazán.
        p Děkujeme vám za účast v Červené tlapce a je nám líto, že nás opouštíte.
        p Rádi vás uvidíme kdykoliv zase zpět.