- var logoSrc = `${baseUrl}/static/image/logo.png`
table(border="0", cellspacing="0", width="100%")
    tr
        td
        td(width="600"): img(src=logoSrc, alt="Červená tlapka")
        td
    tr
        td
        td(width="600")
            block content
        td