- var logoSrc = `${baseUrl}/static/image/logo.png`
table(border="1", cellspacing="0", width="100%")
    tr
        td
        td(width="400"): img(src=logoSrc)
        td
    tr
        td
        td(width="400")
            block content
        td