include ../includes/forms
include ../includes/recaptcha
- var data = templateData.data
- var errors = templateData.errors
- var actualYear = templateData.actualYear
- var registration = templateData.registration
+input("text", "name", "Jméno:", data, errors, { entity: registration })
+input("number", "weight", "Hmotnost (kg):", data, errors, { entity: registration, attributes: { step: 1, min: 20 } })
div.w3-container
    - var n = 0
    label(for='birth-year') Rok narození:
    select#birth-year.w3-select.w3-border(name='birthYear')
        - var selectedYear = data ? parseFloat(data.birthYear) : registration ? registration.birthYear : actualYear
        while n < 30
            - var year = actualYear - n++
            option(value=year, selected=selectedYear === year)= year
    if errors && errors.birthYear
        div.w3-panel.w3-red: p= errors.birthYear
div.w3-container
    label(for='sex') Pohlaví:
    select#sex.w3-select.w3-border(name='sex')
        - var selectedSex = data ? data.sex : registration ? registration.sex : ''
        option(label='Pes', value='M', selected=selectedSex === 'M' : false)
        option(label='Fena', value='F', selected=selectedSex === 'F' : false)
    if errors && errors.sex
        div.w3-panel.w3-red: p= errors.sex
+input("text", "breed", "Plemeno:", data, errors, { entity: registration })
+textarea("note", "Poznámka:", data, errors, { entity: registration, placeholder: "Zde můžete případným žadatelům zanechat vzkaz (maximálně 250 znaků)." })
div.w3-container.w3-section
    +recaptchaInput()
    +submit()
+recaptchaScript(recaptchaAction)