div.w3-container.w3-center.w3-row-padding.ct-grey.footer
    div.w3-third
        ul.w3-ul
            li: a(href="https://www.facebook.com/%C4%8Cerven%C3%A1-tlapka-2028476924120279/") Facebook
            li: a(href="https://www.instagram.com/cervenatlapka/") Instagram
    div.w3-third
        ul.w3-ul
            li: a(href="/about-us") O nás
            li: a(href="/contacts") Kontakt
    div.w3-third
        a(href="http://psi-znamky.websnadno.cz/", target="_blank"): img.image-50pc.w3-round.w3-opacity-min(
            src="/static/image/psi-znamky-martin-freiberg.jpg",
            style="max-width: 400px; margin: 5px")
    div.w3-container
        p Vyrobeno pro nemocné pejsky. All rights reserved.