mixin smartformScript()
    script(src="https://secure.smartform.cz/api/v1/smartform.js" async=true)
    script.
        var smartform = smartform || {};

        smartform.beforeInit = function initialize() {
            smartform.setClientId('MrVx1RL97R');
        }