extends ../main-template

block description
    title Stránka nebyla nalezena | Červená tlapka
    meta(name="description", content="Zadaná adresa není platná nebo stránka byla smazána.")

block content
    div.w3-container
        div.w3-panel.ct-grey
            h1 Stránka nebyla nalezena
            p Zadaná adresa není platná nebo stránka byla smazána.