extends ../main-template

block description
    title Chyba serveru | Červená tlapka
    meta(name="description", content="Omlouváme se, ale nastala chyba serveru. Opakujte prosím akci později.")

block content
    div.w3-container
        div.w3-panel.ct-red
            h1 Chyba serveru
            p Omlouváme se, ale nastala chyba serveru. Opakujte prosím akci později.