extends ../main-template

block content
    p Dobrý den,
    p #{applicantName} se s Vámi snaží spojit na zakládě Vaší #[a(href=baseUrl + "/donor/" + registration.id) registrace] a potřebuje Vaši pomoc! Napsal Vám tuto zprávu:
    p= applicantMessage
    p Budeme Vám moc vděční, pokud mu odpovíte co nejříve. Ať už způsoby, které Vám napsal #{applicantName}, nebo můžete odpovedět na tento email.
    p Předem děkujeme za Vaši pomoc,
    p Tým Červené Tlapky