p Dobrý den,
p děkujeme za Vaši registraci.
p Pro aktivaci Vaší registrace klikněte prosím na tento odkaz:
- var activateLink = `localhost:3000/activate-registration/${activateHash}`
p #[a(href=activateLink) #{activateLink}]
p Tým Červené tlapky
p Pokud jste tento email dostali omylem a na webu TODO doplnit url jste se neregistrovali, ignorujte jej prosím.