extends main-template

block content
    div.w3-half
        h1 O co jde?
        p: b Červená tlapka je platforma pro pejskaře, kteří chtějí pomoci nebo pomoc potřebují.
        p V životě psím může nastat situace, kdy váš miláček musí na operaci a potřebuje transfuzi. Pokud ale ve svém okolí nemáte kamaráda s velkým zdravým psem, který by vám potřebnou krev daroval, jste v háji.
        p Veterináři zpravidla na nikoho kontakt nemají a nemocnice krev tohoto typu nemusí mít na skladě. Pak si krev musíte zajistit sami, což může být dost obtížné. Nedej bože, když to spěchá (a někdy to spěchá hodně).
        p: b Proto vznikla Červená tlapka. Aby propojila potenciální dárce s těmi, kteří potřebují jejich laskavou pomoc.

        div.w3-half.w3-center
            a.w3-button.w3-deep-purple.w3-round-xxlarge.w3-xlarge.w3-padding-large(href='/register-donor') Chci se stát dárcem
        div.w3-half.w3-center
            a.w3-button.w3-deep-purple.w3-round-xxlarge.w3-xlarge.w3-padding-large(href='/find-donor') Potřebuji transfuzi

        h2 Proč to děláme?
        p: b Protože nezapomínáme.
        p Naše úžasná sedmiletá boxerka Jasmína potřebovala akutní operaci a měla to štěstí, že jsme pro ni dárce měli. Její dlouholetý kamarád Lexík a jeho páníček nám obětavě přispěchali na pomoc. Bohužel, i přesto zápas s rakovinou prohrála. Lékaři po otevření konstatovali metastáze a tak ji místo operace sleziny jen zase zašili a nechali spát napořád. Naštěstí netrpěla a do poslední chvíle byla veselá a statečná. Odešla náhle a zůstala nám po ní velká smutná prázdnota.
        p Abychom ji alespoň nějak zaplnili, rozhodli jsme se, že na její památku založíme tuhle platformu pro dobrovolné psí dárce. Abychom dali šanci i ostatním psům, kterým bychom touto cestou mohli pomoci. A aby v nich tak mohl Jasmínky odkaz žít dál.
    div.w3-half
        p TODO obrázek
        p: b Pokud chcete znát náš celý příběh anebo příběhy našich dárců a zachráněných psích kamarádů, podívajte se na náš blog.