extends main-template

block content
    h2 Web pro psí dárce krve.
    p Můžete #[a(href='./register-donor') zaregistrovat nového psího dárce] nebo #[a(href='./find-donor') zkusit najít dárce pro svého miláčka].