extends main-template

block content
    h2 Web pro psí dárce krve.
    p Můžete #[a(href='./registrace-darce') zaregistrovat nového psího dárce] nebo #[a(href='./hledej-darce') zkusit najít dárce pro svého miláčka].