extends main-template

block description
    title Registr dobrovolných psích dárců krve | Červená tlapka
    meta(name="description", content="Červená tlapka je platforma propojující dobrovolné psí dárce krve s těmi, kteří potřebují jejich laskavou pomoc.")

block content
    div.w3-container.w3-row-padding
        div.w3-half
            h1 O co jde?
            p: b Červená tlapka je platforma pro pejskaře, kteří chtějí pomoci, nebo pomoc potřebují.
            p V životě psím může nastat situace, kdy váš miláček musí na operaci a potřebuje transfuzi. Pokud ale ve svém okolí nemáte kamaráda s velkým, zdravým psem, který by vám potřebnou krev daroval, jste v háji.
            p Veterináři zpravidla na nikoho kontakt nemají a nemocnice psí krev nemusí mít na skladě. Pak si ji musíte zajistit sami, což může být dost obtížné. Nedej bože, když to spěchá (a někdy to spěchá hodně).
            p: b Proto vznikla Červená tlapka. Aby propojila potenciální dárce s těmi, kteří potřebují jejich laskavou pomoc.

            div.w3-container.w3-section
                div.w3-col.s6.m6.l6.w3-center
                    a(href='/register-donor'): img.image-70s.image-70m.image-50l(src="/static/image/want-to-be-a-donor.svg", alt="Chci se stát dárcem")
                div.w3-col.s6.m6.l6.w3-center
                    a(href='/find-donor'): img.image-70s.image-70m.image-50l(src="/static/image/need-a-transfusion.svg", alt="Potřebuji transfuzi")

            h1 Proč to děláme?
            p: b Protože nezapomínáme.
            p Naše úžasná sedmiletá boxerka Jasmína potřebovala akutní operaci a měla to štěstí, že jsme pro ni dárce měli. Její dlouholetý kamarád Lexík a jeho páníček nám obětavě přispěchali na pomoc. Bohužel, i přesto zápas s rakovinou prohrála. Lékaři po otevření konstatovali metastáze, a tak ji místo operace sleziny jen zase zašili a nechali spát napořád. Naštěstí netrpěla a do poslední chvíle byla veselá a statečná. Odešla náhle a zůstala nám po ní velká, smutná prázdnota.
            p Ve snaze ji alespoň nějak zaplnit jsme se rozhodli  na Jasmíninu památku založit tuto platformu pro dobrovolné psí dárce. Abychom dali šanci i ostatním psům, kterým bychom touto cestou mohli pomoct. A aby v nich tak mohl Jasmínčin odkaz žít dál.
        div.w3-half
            div.w3-constainer.w3-center
                img.main-circle-image(src="/static/image/homepage.svg", alt="Dárcovství spojuje")
            h1 Je možné pomoct i jinak?
            p Chtěli byste přiložit ruku k dílu také nějakým jiným způsobem? Každá pomoc je vítaná! Možností je hned několik:
            div.w3-col.l4
                div.w3-constainer.w3-center.w3-section
                    a(href="/want-to-help#flyer"): img.image-50s.image-50m.image-90l(src="/static/image/help-by-printing-a-flyer.svg", alt="Pomůžu vytisknutím letáku")
            div.w3-col.l4
                div.w3-constainer.w3-center.w3-section
                    a(href="/want-to-help#share"): img.image-50s.image-50m.image-90l(src="/static/image/help-by-sharing.svg", alt="Pomůžu sdílením")
            div.w3-col.l4
                div.w3-constainer.w3-center.w3-section
                    a(href="/want-to-help#financial-help"): img.image-50s.image-50m.image-90l(src="/static/image/help-financially.svg", alt="Pomůžu finančně")