extends main-template

block content
    - var data = templateData.data;
    p Přihlášení
    if data
        p Přihlášení se nezdařilo. Účet buď neexistuje nebo bylo zadáno špatné heslo.
    form(method='post', action='/login')
        div
            label(for='email') Email:
            input#email(type='text', name='email', value=data ? data.email : '')
        div
            label(for='password') Heslo:
            input#password(type='password', name='password')
        div
            input(type='submit', value='Odeslat')
    p Pokud nemáte založený účet, #[a(href='/register') zaregistrujte se prosím].
