doctype html
html(lang="cz")
    head
        title Červená tlapka
        link(rel="stylesheet", type="text/css", href="/static/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="/static/css/style.css")
    body
        include includes/header
        block content
        include includes/footer