extends main-template

block content
    p Děkujeme Vám za registraci Vašeho pejska.
    p Nezapomeňte prosím, že je možné #[a(href='./registrace-darce') registrovat více dárců].
    p Také se můžete podívat na #[a(href='./hledej-darce') seznam registrovaných dárců].