extends main-template

block content
    p Děkujeme Vám za registraci Vašeho pejska.
    p Nezapomeňte prosím, že je možné #[a(href='./register-donor') registrovat více dárců].
    p Také se můžete podívat na #[a(href='./find-donor') seznam registrovaných dárců].