extends main-template

block content
    p Pro registraci psího dárce o něm potřebujeme následující informace:
    form(method='post', action='./register-donor')
        div
            label(for='name') Jméno:
            input#name(type=text, name='name')
        div
            label(for='weight') Hmotnost (kg):
            input#weight(type='number', name='weight', min=1, max=150, step=1)
        div
            - var n = 0
            label(for='birth-year') Rok narození:
            select#birth-year(name='birth-year')
                while n < 30
                    - var year = actualYear - n++
                    option(label=year, value=year)
        div
            label(for='sex') Pohlaví:
            select#sex(name='sex')
                option(label='Pes', value='M')
                option(label='Fena', value='F')
        div
            label(for='breed') Plemeno:
            input#breed(type=text, name='breed')
        div
            input(type='submit', value='Odeslat')