html, body {
    font-family: "Work Sans", sans-serif;
    font-size: calc(12px + 0.3vw);
    color: rgb(203, 0, 60);
}

/** https://css-tricks.com/couple-takes-sticky-footer/ */
html {
    height: 100%;
}

#ct-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Chivo", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

p {
    text-align: justify;
}

.ct-red {
    color: #fff!important;
    background-color: rgb(203, 0, 60)!important
}

.ct-yellow {
    color: rgb(203, 0, 60)!important;
    background-color: rgb(255, 237, 60)!important
}

.ct-blue {
    color: #fff!important;
    background-color: rgb(39,49,106)!important
}

.ct-grey {
    color: #fff!important;
    background-color: rgb(87, 87, 86)!important
}

@media (max-width:600px) {
    .logo {
        width: 65%;
        margin: 4px;
    }
    .image-50s {
        width: 50%;
    }
    .image-70s {
        width: 70%;
    }
    .partner-img-div {
        width: 100%;
        height: 35vw;
    }
}

@media (min-width:601px) and (max-width: 991px) {
    .logo {
        width: 60%;
    }
    .image-50m {
        width: 50%;
    }
    .image-70m {
        width: 70%;
    }
    .partner-img-div {
        width: 31vw;
        height: 12vw;
    }
}

@media (min-width:992px) {
    .logo {
        width: 40%;
        max-width: 1000px;
    }
    .image-50l {
        width: 50%;
    }
    .image-70l {
        width: 70%;
    }
    .image-90l {
        width: 90%;
    }
    .margin-top-l {
        margin-top: 4em;
    }
    .partner-img-div {
        width: 31vw;
        height: 12vw;
    }
}

#donor-map {
    height: 500px;
    width: 100%;
}

#donor-map-fullscreen {
    height: 100%;
    width: 100%;
}

.align-bottom {
    display: flex;
    align-items: flex-end;
}

.image-50pc {
    width: 50%;
}

.image-70pc {
    width: 70%;
}

.image-90pc {
    width: 90%;
}

.main-circle-image {
    width: 80%;
    max-width: 600px;
}

.menu {
    font-weight: bold;
    text-transform: lowercase;
}

.img-desc {
    text-align: center;
    color: rgb(39,49,106);
}

.social-icon {
    width: 3em;
    min-width: 29px;
    max-width: 130px;
    height: 3em;
    min-height: 29px;
    max-height: 130px;
    margin: 0.5em;
}

.partner-img-div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    border: 1px solid rgb(87, 87, 86);
}

.partner-img {
    width: 80%;
    max-width: 500px;
}

.mm-navbar {
    --mm-color-background: rgb(255, 237, 60);
    --mm-color-text-dimmed: rgb(203, 0, 60);
    --mm-color-button: rgb(203, 0, 60);
}
.mm-panel {
    --mm-color-background: rgb(255, 237, 60);
    --mm-color-text: rgb(203, 0, 60);
    --mm-color-button: rgb(203, 0, 60);
}