extends ../main-template

block description
    title Chci pomoct i jinak | Červená tlapka
    meta(name="description", content="Líbí se vám náš projekt? Vytiskněte leták, sdílejte nás na sociálních sitích nebo nás podpořte finančně. Každou pomoc uvítáme.")

block content
    div.w3-container.w3-row-padding
        h1 Chci pomoct i jinak
        div.w3-third
            h2(id="flyer") Vytisknout leták
            p Připravili jsme pro vás letáčky, které můžete vytisknout a umístit do vaší veterinární ordinace. Nebo kamkoliv, kde si myslíte, že by mohly plnit svůj účel.
            p: b Stahujte zde:
            div.w3-row
                div.w3-col.l4.m4.s4
                    a(href="/static/doc/ct-letak-a4-barevny.pdf"): img(src="/static/image/flyer-a4-color.svg", alt="Barevný leták A4")
                div.w3-col.l4.m4.s4
                    a(href="/static/doc/ct-letak-a4-cb.pdf"): img(src="/static/image/flyer-a4-black-and-white.svg", alt="Černobílý leták A4")
                div.w3-col.l4.m4.s4
                    a(href="/static/doc/ct-letak-a6-barevny.pdf"): img(src="/static/image/flyer-a6-color.svg", alt="Barevný leták A6", style="width: 50%")
                    a(href="/static/doc/ct-letak-a6-cb.pdf"): img(src="/static/image/flyer-a6-black-and-white.svg", alt="Černobílý leták A6", style="width: 50%")
        div.w3-third
            h2(id="share") Sdílet
            p Informujte o nás své okolí: svoji rodinu, kamarády pejskaře i nepejskaře, svého psího doktora. Sdílejte nás na facebooku a instagramu. Čím širší povědomí o databázi bude, tím víc členů může získat, a tím víc bude pomáhat.
            p: b #cervenatlapka
            div.w3-constainer.w3-center.w3-section
                a(href="https://www.facebook.com/%C4%8Cerven%C3%A1-tlapka-2028476924120279/"): img.image-50pc(src="/static/image/facebook-cervena-tlapka.svg", alt="Facebook")
            div.w3-constainer.w3-center.w3-section
                a(href="https://www.instagram.com/cervenatlapka/"): img.image-50pc(src="/static/image/instagram-cervena-tlapka.svg", alt="Instagram")
        div.w3-third
            h2(id="financial-help") Finanční podpora
            p Financujeme se z vlastních zdrojů. Pokud byste nás chtěli podpořit, můžete nám zaslat malý finanční obnos na náš transparentní účet. Peníze z něj použijeme na udržování a vylepšování registru, výrobu a zasílání známek a další věci související s tímto projektem.
            p: b #[a(href="https://ib.fio.cz/ib/transparent?a=2401616956", target="_blank") Číslo transparentního účtu:] 2401616956/2010
            img(src="/static/image/money.svg", alt="Pomůžu finančně")
    div.w3-container.w3-row-padding
        div.w3-third
            h1(id="i-have-an-idea") Mám nápad
            p Něco vám tu chybí? Napadlo vás něco, co by se na Červené tlapce dalo vylepšit, změnit, přidat? Napište nám to! Své postřehy nám můžete poslat #[a(href="mailto:info@cervenatlapka.cz") emailem] nebo napsat na #[a(href="https://www.facebook.com/%C4%8Cerven%C3%A1-tlapka-2028476924120279/") Facebook], rádi se jimi necháme inspirovat.
        div.w3-third
        div.w3-third