extends ../main-template

block description
    title Aktivace účtu | Červená tlapka
    meta(name="description", content="Pokud nemáte aktivovaný profil, zde si můžete nechat zaslat aktivační email.")

block content
    div.w3-container.w3-row-padding
        h1 Aktivace účtu
        p Na váš email jsme odeslali zprávu s dalšími pokyny pro aktivaci účtu.
        p Pokud vám zpráva nepřijde do pár minut, zkontrolujte si vaši složku nevyžádané pošty (spam).
        p V případě jakýchkoliv problémů nás prosím neváhejte #[a(href="/contacts") kontaktovat].