extends ../main-template

block content
    div.w3-container.w3-row-padding
        div.w3-half
            h1 Kontakty
            ul
                li: a(href="mailto:info@cervenatlapka.cz") info@cervenatlapka.cz
                li: a(href="https://www.facebook.com/%C4%8Cerven%C3%A1-tlapka-2028476924120279/") Facebook
                li: a(href="#") Transparentní účet u Fio bank
        div.w3-half