extends ../main-template

block description
    title Napsali o nás | Červená tlapka
    meta(name="description", content="O Červené tlapce se píše a mluví i v českých médiích. Podívejte se na výběr toho nejzajímavějšího, co o projektu vyšlo.")

block content
    div.w3-container.w3-row-padding
        div.w3-half
            h1 Napsali o nás
            ul
                li: a(href="https://www.idnes.cz/zpravy/domaci/pes-krev-darovani-registr-odber-transfuze-darce-cervena-tlapka.A190531_154746_domaci_pmk", target="_blank") iDnes.cz 31.5.2019 - I zvířecí miláčci potřebují krev. Pomoci má nový registr psích dárců
                li: a(href="https://www.blesk.cz/clanek/zpravy-blesk-tlapky/608413/revolucni-novinka-pro-chovatele-v-novem-registru-najdou-darce-psi-krve.html", target="_blank") Blesk.cz 31.5.2019 - Revoluční novinka pro chovatele: V novém registru najdou dárce psí krve
                li: a(href="http://www.haf-mnau.eu/registr-psich-darcu-krve/", target="_blank") Haf&Mňau 31.5.2019 - Registr psích dárců krve
                li: a(href="http://www.pejskar.cz/pomozte-zachranit-dalsi-psy-krev-muze-darovat-i-vas-pejsek-87775/", target="_blank") Pejskar.cz 31.5.2019 - Pomozte zachránit další psy, krev může darovat i váš pejsek
                li: a(href="https://vernypes.cz/cervena-tlapka-chce-propojovat-psi-darce-krve-s-temi-kdo-jejich-pomoc-potrebuji/", target="_blank") Vernypes.cz 31.5.2019 - Červená tlapka chce propojovat psí dárce krve s těmi, kdo jejich pomoc potřebují
        div.w3-half