extends ../main-template

block description
    title Spolupracujeme | Červená tlapka
    meta(name="description", content="Spolupracujeme s mnoha dalšími organizacemi zaměřenými na podporu zvířat, zejména psů.")

block content
    div.w3-container.w3-row-padding
        h1 Spolupracujeme
        -
            const partners = [
                [
                    { name: "MVDr. Pavel Berka", image: null, link: "http://veterinavyjezd.cz/cs/lekari/mvdr-pavel-berka/" },
                    { name: "Haf&Mňau", image: "/static/image/partner/haf&mnau.png", link: "http://www.haf-mnau.eu/" },
                    { name: "Dobrmani v nouzi", image: "/static/image/partner/dobrmani-v-nouzi.png", link: "http://www.dobrmanivnouzi.cz/" }
                ],
                [
                    { name: "Dobrá psí škola", image: "/static/image/partner/dobra-psi-skola.jpg", link: "http://www.dobrapsiskola.cz/" },
                    { name: "Dobrman klub", image: "/static/image/partner/dobrman-klub.jpg", link: "http://www.dobermannclub.cz/" },
                    { name: "Ocásci!", image: "/static/image/partner/ocasci.jpg", link: "https://www.ocasci.cz/" },
                ],
                [
                    { name: "Kynologický klub Liberec - Pavlovice", image: "/static/image/partner/kynologicky-klub-liberec-pavlovice.jpg", link: "http://www.kkpavlovice.cz/" },
                    { name: "Staň se srdcařem", image: "/static/image/partner/stan-se-srdcarem.png", link: "http://www.stansesrdcarem.cz/" },
                    { name: "Hard Dog Race", image: "/static/image/partner/hard-dog-race.jpg", link: "https://harddograce.cz/" }
                ]
            ]
        each row in partners
            div.w3-row
                each partner in row
                    div.w3-third
                        div.partner-img-div.w3-content
                            if partner.image
                                a(href=partner.link, target="_blank"): img.partner-img(src=partner.image, alt=partner.name)
                            else
                                a(href=partner.link, target="_blank")= partner.name

