extends ../main-template

block description
    title Pro média | Červená tlapka
    meta(name="description", content="Tiskové zprávy a fotografie v tiskové kvalitě ke stažení pro média a novináře.")

block content
    div.w3-container.w3-row-padding
        div.w3-half
            h1 Pro média
        div.w3-half