extends ../main-template

block description
    title Pro média | Červená tlapka
    meta(name="description", content="Tiskové zprávy a fotografie v tiskové kvalitě ke stažení pro média a novináře.")

block content
    div.w3-container.w3-row-padding
        div.w3-half
            h1 Pro média
            h2 Tiskové zprávy
            ul
                li: a(href="https://drive.google.com/drive/folders/1_4lw_sBdurZwjUjR5NQFCY9PXT49pmoJ?usp=sharing", target="_blank") Tisková zpráva 30.5.2019 - Červená tlapka chce propojovat psí dárce krve s těmi, kdo jejich pomoc potřebují
        div.w3-half