extends ../main-template

block description
    title Obnovení hesla | Červená tlapka
    meta(name="description", content="Platforma propojující dobrovolné psí dárce krve s těmi, kteří potřebují jejich laskavou pomoc.")

block content
    div.w3-container.w3-row-padding
        h1 Obnovení hesla
        p Na váš email jsme odeslali zprávu s dalšími pokyny pro obnovení hesla.
        p Pokud vám zpráva nepřijde do pár minut, zkontrolujte si vaši složku nevyžádané pošty (spam).
        p V případě jakýchkoliv problémů nás prosím neváhejte #[a(href="/contacts") kontaktovat].