extends ../main-template

block content
    div.w3-container.w3-row-padding
        h1 Obnovení hesla
        p Na Váš email jsme odeslali zprávu s dalšími pokyny pro obnovení hesla.
        p Pokud Vám zpráva nepřijde do pár minut, zkontrolujte si prosím Vaši složku nevyžádané pošty (spam).
        p V případě jakýchkoliv problémů nás prosím kontaktujte. TODO odkaz na kontakty