extends ../main-template

block description
    title Obnovení hesla | Červená tlapka
    meta(name="description", content="Zapomněli jste heslo ke svému účtu? Zde si ho můžete obnovit.")

block content
    include ../includes/recaptcha
    div.w3-container.w3-row-padding
        div.w3-half
            - var data = templateData.data
            - var errors = templateData.errors
            h1 Obnovení hesla
            p Zadejte prosím nové heslo a odešlete formulář.
            form(method='post', action='/password-reset')
                div.w3-container
                    label(for='password') Nové heslo:
                    input#password.w3-input.w3-border(type='password', name='password')
                    if errors && errors.password
                        div.w3-panel.w3-red: p= errors.password
                div.w3-container
                    label(for='passwordConfirm') Potvrdit nové heslo:
                    input#passwordConfirm.w3-input.w3-border(type='password', name='passwordConfirm')
                div.w3-container.w3-section
                    input(type="hidden", name="passwordResetHash", value=data.passwordResetHash)
                    +recaptchaInput()
                    input.w3-input(type='submit', value='Odeslat')
                +recaptchaScript("passwordReset")
        div.w3-half