extends ../main-template

block content
    div.w3-container.w3-row-padding
        div.w3-half
            h1 Registrace dárce
            if user
                p: b Pro registraci psího dárce o něm potřebujeme následující informace:
                form(method='post', action='/register-donor')
                    - const recaptchaAction = "registerDonor"
                    include ../includes/donor-form
            else
                p Pro registraci psího dárce je potřeba se #[a(href='/login') přihlásit].
        div.w3-half
            h2 Co to obnáší?
            p Potenciálním dárcem se váš pes stane ve chvíli, kdy si zde nejprve vy pomocí registrace vytvoříte účet a následně vyplníte potřebné informace o vašem psovi. Tyto údaje budou zaneseny do registru dárců. Co to v praxi pro vás a vašeho miláčka znamená? Rozhodně nemusíte hned někam jet a darovat krev. Dáváte tím pouze souhlas, aby vás někdo, kdo potřebuje pro svého psa transfuzi, mohl kontaktovat. Dále je to už na vás dvou, jak se dohodnete. Případný odběr pak probíhá podobně jako u lidí: pes je nejprve vyšetřen, následně mu doktor odebere z přední packy cca 250 ml krve (záleží na váze psa). Samotný odběr trvá kolem čtvrt hodiny a pes po něm zvládne odejít domů po svých.
            p Zároveň se také stanete našimi hrdiny! Jako poděkování za vaši solidaritu a odvahu pomoci od nás dostanete poštou známku pro vašeho miláčka, kterou ať hrdě nosí! Budeme rádi, když se nám pochlubíte jeho fotkou. Můžete nám ji zaslat na #[a(href="mailto:info@cervenatlapka.cz") náš email] a my ji zde vyvěsíme v galerii hrdinů, nebo rovnou sdílet na Facebooku či Instagramu s hashtagem #cervenatlapka.
            h2 Podmínky pro registraci dárce
            p Pokud jste se rozhodli zaregistrovat svého miláčka do naší databáze dobrovolných psích dárců krve, v první řadě máte náš velký dík! Vaše rozhodnutí může pomoci zachránit život jiného chlupáče, který to bude v budoucnu potřebovat. Aby ale byla vaše pomoc účinná, je důležité, abyste se seznámili s podmínkami, za kterých je možné vašeho psa zaregistrovat. Prosím, nejprve si je pozorně projděte.
            ul
                li váha nejméně 20 kg (čím větší pes, tím menší zátěž pro něj odběr znamená)
                li věk 2 – 8 let (dospělý jedinec, opět kvůli zátěži)
                li v době odběru v plné kondici
                li dobře ovladatelný
                li bez chronických chorob (např. cukrovka, epilepsie) a trvalé medikace
            p Svého psa, případně celý účet můžete kdykoliv smazat a vaše údaje budou z registru odstraněny.
            h2 Chci pomoct i jinak
            p Nesplňujete podmínky pro registraci, ale přesto byste chtěli nějak přiložit ruku k dílu? Každá pomoc je vítaná! Možností je hned několik, podívejte se #[a(href="/want-to-help") zde].