extends ../main-template

block content
    div.w3-container.w3-row-padding
        h1 Registrace psího dárce dokončena
        p Děkujeme vám za registraci vašeho psa.
        p Nezapomeňte, že je možné #[a(href='/register-donor') registrovat více psích hrdinů].
        p Také se můžete podívat do #[a(href='/find-donor') naší databáze na seznam všech registrovaných dárců].